body{
    margin: 10px;
    padding: 0;
    background-color: #f5f5f5;
    box-sizing: border-box;
    text-align: center;
  font-family: Arial, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}


/* 顶部样式 */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    width: 50px;
    height: auto;
}

.header h1 {
    margin-left: 20px;
    font-size: 24px;
    color: #333;
    flex-shrink: 0; /* 防止 h1 元素缩小以适应剩余空间 */
}


.top{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.top button{
    width: 200px;
    padding: 10px;
    font-size: large;
    color: rgb(64,122,255);
    border: 2px solid rgb(64,122,255);
    border-radius: 25px;
    background-color: #fff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container li{
    margin: 40px;
    border-radius: 20px;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #ccc; 
}
.container li img{
    width: 100px;
}
.container li .right{
    margin: 10px;
}
.container li h2{
    text-align: left;
    font-size: 15px;
}
.container li h3{
    margin: 10px 0;
    text-align: left;
    font-size: 10px;
    color: grey;
}
.container li .last{
    display: flex;
}
.container li .last p{
    font-size: small;
    color: rgb(64,122,255);
}
.container li .last button{
    color:red;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 10px;
}
/* 导航样式 */
.nav ul {
    display: flex;
    justify-content: space-between; /* 让 li 元素平分 nav 的宽度 */
    padding: 0;
    list-style: none;
    margin: 20px 0;
}

.nav ul li {
    flex: 1; /* 让每个 li 元素平分空间 */
    justify-content: center; /* 水平居中 */
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.nav ul li a {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    text-decoration: none;
    color: #333;
    padding: 10px;
}

  
  .nav ul li:hover {
    background-color: #dcdcdc;
  }
  
  .footer ul li:hover {
    background-color: #dcdcdc;
  }
  